@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 1
   
   Layout styles for Slate and Pencil Tutoring
   Author: Caleb Snow
   Date:   10/24/18
   
   Filename: sp_layout.css

*/

/* Window and Body Styles */

html {
    height: 100%;
}

/* The body selector styles make a basic format for the website spacing and margining and the boundaries for the page content itself. */

body {
    width: 95%;
    max-width: 960px;
    min-width: 640px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
}

/* These selectors were chosen to have specific styles for the main navigational styles and how they are arranged around the page to look the best and most organized it can */

header,
ul,
nav,
li,
a {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* Row Styles */

/* This section gives the grid styles an implication into the main styles for the CSS for all the page grids to have a main function throughout the entire page */

.row::after {
    clear: both;
    display: table;
    content: "";
}

/* Page Header Styles */

/* This section of styles gives the img in the header a place to go and the perfect way for it to fit with the navigation bars and how the navigational bars look */

body header img {
    display: block;
    width: 70%;
    float: left;
}

body header nav {
    float: left;
    padding-left: 2%;
    padding-right: 2%;
    width: 30%;
}

header nav a {
    display: block;
    width: 100%;
}

/* Horizontal Navigation List Styles */

/* This navigational style makes one of the nav elements work horizontally accross the page with a perfect flow because its link into the HTML for it to have a nice neat organization */
nav.horizontal li {
    display: block;
    width: 12.5%;
    float: left;
}

/* Topics Styles */

/* These specific styles for the lists in the unordered list are displayed as block with its specific margin sizing, widths, also floating   */
ul#topics li {
    display: block;
    width: 20%;
    float: left;
    margin-left: 0%;
    margin-right: 1.5%;
}

/* The specific first and last type styles align together to be equal to the page styles designed earlier within the CSS  */
ul#topics li:first-of-type {
    margin-left: 7.75%;
}

ul#topics li:last-of-type {
    margin-right: 7.75%;
}

/* The images within the list tags of the unordered list have a main design to them to fit within the boundaries of the main content section */
ul#topics li img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* HR Styles */

hr {
    width: 50%;
}

/* Customer Comment Styles */

/* The whole comments section adds many different styles to them ranging from lists, images, paragraphs or p tags, etc. which make the comments section designs fit the clients preferences of the document including images and lists being desplayed as block and having margin styles for their specific attributes */
ul#comments {
    width: 75%;
    margin: 40px auto;
}

ul#comments li {
    display: block;
    width: 50%;
    float: left;
    margin-bottom: 30px;
}

ul#comments li img {
    display: block;
    width: 20%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}

ul#comments li p {
    float: left;
    width: 70%;
}

/* Footer Styles */

/* The footer fits closly to the bottom of the page and is displayed if it specifies in the HTML */
footer {
    clear: both;
}